# строки начинающиеся на # - это комментарии, они не учитываются

# Исключить все файлы с расширение .a
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.ini
*.lot
*.lof
*.pyc
*.pygtex
*.pygstyle
# *.txt

vscode/
.vscode

build
